.root {
    width: 100%;
    overflow-X: 'auto';
}

.table {
    min-width: 700px;
}

.row:nth-of-type(odd) {
    background-color: #fafafa;
}

.header {
    background-color: #000;
}

.header th {
    color: #fff;
    font-size: 14px;
}