.pods {
  margin: 20px;
}

.error {
  margin: 50px auto;
  background-color: darkred;
  padding: 20px;
  font-size: 1.2rem;
  color: white;
  max-width: 600px;
}

body, .pod-differences {
  background-color: #EBF5FB;
}

.data-table {
  table-layout: fixed;
  min-width: 900px;
}

.table-cell {
  word-wrap: break-word;
}

.data-paper {
  background: transparent;
}

.bulb {
  margin-left: 50px;
  display: inline-block;
  border: black;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.bulb-off {
  background-color: red;
  box-shadow: inset 0 0 50px black, 0 0 60px black;
}

.bulb-on {
  background-color: green;
  box-shadow: inset 0 0 50px white, 0 0 50px white;
}

.pod-status {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}

.status-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}