.root {
  flex-grow: 1;
}

.flex {
  flex: 1;
  text-align: left;
}

a.active button {
  font-weight: bold;
  font-size: 90%;
}

.select-empty select {
  color: black;
  font-weight: bolder;
}

.app-body {
  margin-top: 20px;
}